<br>
<!-- <form [formGroup]="createForm" (ngSubmit)="submitNewItem()"> -->
  <ion-grid>
    <ion-row>
    <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
      <ion-img src="{{ photo.webviewPath }}" (click)="showActionSheet(photo, position)"></ion-img>
    </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="photoService.addNewToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
<form>
  <ion-item-divider color="light">
    <ion-label>New Item for Trade</ion-label>
  </ion-item-divider>
  <ion-list color="tertiary">
    <ion-button color="secondary" (click)="captureImage()">
      Take Photos
    </ion-button>
    <ion-button color="secondary" (click)="uploadFromGallery()">
      Upload from Gallery
    </ion-button>
    <ion-item>
      <ion-label>Item Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Item Description</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-row class="ion-justify-content-end">
      <ion-col size="3" offset="3">

        <ion-button color="medium">Cancel</ion-button>


      </ion-col>
      <ion-col size="6">

        <ion-button type="submit" class="create-btn">Submit</ion-button>


      </ion-col>

    </ion-row>
  </ion-list>

</form>