<div class="header">
  <ion-grid class="logo-container">
    <ion-row>
      <ion-col col-4><ion-img class="header-logo" src="/assets/header-log.png" (click)="navigate('')"> </ion-img></ion-col>
      
      <ion-col class="icons" col-4 offset-4>
        <ion-icon name="chatbox" class="icon"></ion-icon>
        <ion-icon name="checkmark-done-circle-outline" class="icon" (click)="navigate('view-all-requests')"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="search-container">
    <ion-row class="search-row1">
      <ion-searchbar color="primary" class="searchbar1" placeholder="Search Item..."></ion-searchbar>
    </ion-row>
  </ion-grid>
</div>
