<ion-tabs>

  <ion-tab-bar color="secondary" slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="heart"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="create-item">
      <ion-icon name="camera"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="request">
      <ion-icon name="notifications"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person-circle"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
